:root{
    --primary-color: #225a92;
    --secondary-color: #55a8fafd;
    --tertiary-color: white;
    --cheat_header-color: #d87b7b;
}


.container{
    display:grid;
    height:100vh;
    grid-template:
    "user_header user_header" 60px
    "left_menu   main_content" 1fr/
    200px 1fr;

}
.user_header{
    display:grid;
    grid-auto-flow: column;
    grid-area:user_header;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    
}
.user_header h1{
    place-self: center ;
}
.user_info{
    display:grid;
    grid-auto-flow: column;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    gap:10px;
    place-self: center end;
    position:absolute;
}
.user_info h4{
 place-self: center;
}
.user_info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
 
}
.sign_out{
    align-self: end;
    font-size: 20px;
    cursor: pointer;
}
.left_menu{
    display:grid;
    grid-area:left_menu;
    background-color: var(--secondary-color);
}

.main_content{
    display:grid;
    grid-template:
    "chat_header  chat_header"  30px
    "friend_messages  your_messages "1fr
    "form   form" 50px/
    1fr     1fr;
    grid-area:main_content;
    background-color: var(--tertiary-color);
    padding-bottom: 10px;
}
.chat_header{
    display:grid;
    grid-area:chat_header;
    grid-auto-flow: column;
    background-color: var(--cheat_header-color);
    color: var(--tertiary-color);
    padding: 5px;
    gap:10px;
}
.chat_header img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.left_menu li{
    list-style:none;
    padding: 0.5rem;
    border-bottom: 1px solid var(--tertiary-color);
     color: var(--tertiary-color);
     display:grid;
     grid-auto-flow: column;
     place-content: center start;
     cursor:pointer
}
.left_menu li:hover{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}
.clicked{
    background-color: var(--cheat_header-color);
    color: var(--primary-color);
}
.left_menu li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.users_name{
    display:grid;
    place-content: center start;
    margin-left: 0.5rem ;
}

.main_content li{
    list-style:none;
    padding: 0.5rem;
    display:grid;
    place-content: center start;
    cursor:pointer;
    padding: 0.8rem    
}
.your_messages{
    display:grid;
    grid-area: your_messages ;
    place-content:  start end;
    padding:0.5rem
}
.your_messages li{
     background-color: var(--secondary-color);
        color: var(--tertiary-color);
        border-radius: 1rem;  
        margin-top: 10px;
        display: grid;
}

.friend_messages{
    display:grid;
    grid-area: friend_messages ;
    place-content: start;
    padding:0.5rem
}
.friend_messages li{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 1rem;  
    margin-top: 10px;
}
.single_message img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    place-self: center start;
}
.single_message{
    display:grid;
  
    justify-content: start;

}
.form{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 30px;
    grid-area:form;
    border: 1px solid var(--primary-color);
   border-radius:10px;
   margin:0.2rem

}
.form input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.form button{
    all:unset;
    cursor:pointer;
    color: var(--primary-color); 
}
.form button:hover{
    color: var(--secondary-color);
}
.form button:active{
    color: red;
}
.my_message{
    display:grid;
    grid-auto-flow: column;
    place-content: center end;
}
.messages_list{
    display:grid;
   justify-items: end;

}
.message_item{
    display:grid;
    grid-auto-flow: column;
   border-radius:10px;
   color: var(--tertiary-color);
   place-content: center start;
}